
.quantityDrop-data{
  width: 120px !important;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantityDrop-data input {
  width: 45px !important;
  outline: none !important;
  border: none;
  padding-left: 14px;
}
.quantityDrop-data button {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  display: block;
  padding: 0px 10px;
  border: 1px solid #adacac;
}



